
        
            <section class="section bg-white pb-0 ov-h" id="about">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about text-center">
                        <div class="row justify-content-center gutter-vr-30px">
                            <div class="col-lg-10">
                                <div class="section-head section-head-about">
                                    <h2 class="title fw-6 animated" data-animate="fadeInUp" data-delay=".1">About <%- token.name %></h2>
                                    <p class="fw-4 tc-dark animated" data-animate="fadeInUp" data-delay=".2">CryptoCars is a revolutionary a web based NFT roleplaying game launched on the Binance Smart Chain. CryptoCars’s mission is to provide a fun and profitable experience for our players, to create a healthy and excited community around blockchain gaming and build an ecosystem of Play to Earn systems to meet the needs of all gamers around the world.</p>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-8">
                                <div class="nk-block-video tc-light animated" data-animate="fadeInUp" data-delay=".3">
                                    <img src="<%- main.videoimage %>" alt="">
                                    <a href="<%- token.youtube %>" class="nk-block-video-play video-popup btn-play btn-play-s3">
                                    <svg class="btn-play-icon-s2" viewBox="0 0 24 34"><path fill-rule="evenodd" d="M0.212,32.552 C0.427,32.851 0.769,33.010 1.117,33.010 C1.337,33.010 1.559,32.947 1.752,32.814 L23.521,17.879 C23.816,17.678 23.991,17.350 23.991,16.998 C23.991,16.646 23.816,16.319 23.521,16.115 L1.752,1.181 C1.415,0.950 0.972,0.922 0.606,1.107 C0.240,1.292 0.010,1.661 0.010,2.064 L0.010,22.480 C0.010,23.076 0.506,23.558 1.116,23.558 C1.727,23.558 2.222,23.076 2.222,22.480 L2.222,4.142 L20.963,16.998 L0.479,31.049 C-0.020,31.393 -0.140,32.066 0.212,32.552 Z"/></svg>
                                    </a>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white" id="why">
                <div class="ui-shape ui-shape-s1"></div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row align-items-center gutter-vr-30px">
                            <div class="col-lg-5 text-center text-lg-left">
                                <div class="nk-block-text">
                                    <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".1">GAME PLAY:</h2>
                                    <p class="tc-dark animated" data-animate="fadeInUp" data-delay=".2">
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">
                                    <strong>I.  CARS</strong><br>

                                    Each User is entitled to Buy many different Cars. Each car worth $100 is calculated in CAR Token. Cars are randomly distributed to the User with an average score of 500 (including: Speed, Acceleration, Handling and Nitro). Each User is required to buy at least 1 car to play in the game.  After Cars racing to win with the boss, Cars will receive 10 Exp, enough Exp Cars will level up, when leveling up, Cars will be added 10 points to 4 attributes.
                                    </p>
                                    
                                    
                                    
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <div class="nk-block-img nk-block-img-s2 text-center text-lg-left animated" data-animate="fadeInUp" data-delay=".5">
                                    <img src="images/zinnia/gfx-f.png" alt="">
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <div class="row">
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>II. ACCSSORIES</strong><br>
                            There are 5 different types of car accessories: 4 car attachments and 1 racing time accessory. Each accessory gives 3 different ranks from 1 to 3 Stars. The higher the Star, the higher the score. Accessories added to the car will help the car run faster and get more rewards. One accessory is equipped for up to 50 races, after 50 races the accessory will be burned. Accessories are traded Buy and Sell on the NFT Market. </p>
                        </div>
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>III.    RACE</strong><br>
                            •   Race with Boss: Every 120 minutes you will be able to race with Boss 1 time, 1 day you will have 12 races, each race when you Win will receive 10 EXP and rewards. If the race time runs out, you can buy more TIME accessories on the market.<br>
                            •   Race PvP : You can race with 1 other person, before racing you have to bet a certain amount of CAR Tokens, when you win you will get 95% and when you lose you will lose all the tokens you have set.<br>

                            •   Race the tour: Every week there will be 1-2 tournaments, Top 100 winners will receive a lot of rewards in Tokens and Accessories.</p>
                        </div>
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>VI. REWARD</strong><br>
                            •   Race with Boss: Reward = 1.0$V* TotalPointCar/500 per Race.<br>
                            •   Race PvP: Reward 95%<br>
                            •   Race the Tour: Reward Top 100.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
           
            <section class="bg-white section ov-h" style="border-top:1px solid #ddd" id="tokensale">
                <!-- Block @s -->
                <div class="nk-block nk-block-token mgb-m30">
                    <div class="section-head text-center wide-auto">
                        <h4 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".1"><%= token.name%> Tokens Details</h4>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12 text-right">
                            Smartcontract: <b><%= token.contract %></b><br>
                            Symbol: <b><%= token.name %></b>
                            </div>
                            <div class="col-md-6 col-12">
                            Decimal: <b><%= token.decimal %></b><br>
                            Network: <b>Binance Smart Chain</b>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="tokdis-list">
                        <div class="container">
                            <div class="row text-center text-lg-left">
                                <% token.detail_header.forEach(function(user){ %>
                                <div class="col-md">
                                    <div class="tokdis-item animated" data-animate="fadeInUp" data-delay=".2">
                                        <span><%= user.span%></span>
                                        <h5><%= user.h5%></h5>
                                    </div>
                                </div><!-- .col -->
                                <% }); %>
                                
                            </div><!-- .row -->
                        </div>
                    </div>
                    <div class="toktmln-list">
                        <div class="container">
                            <div class="row">
                                 <% token.detail_content.forEach(function(user){ %>
                                <div class="col-lg">
                                    <div class="toktmln-item animated" data-animate="fadeInUp" data-delay=".6">
                                        <div>
                                            <span><%= user.title%></span>
                                            <span><%= user.time%></span>
                                        </div>
                                        <div>
                                            <span><%= user.bonus%></span>
                                            <span><%= user.price%>/<%= token.name%></span>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <% }); %>
                                
                            </div><!-- .row -->
                        </div>
                    </div>
                </div><!-- .block @e -->
                <!-- .section-tokensale -->
                <div class="nk-ovm shape-n"></div>
            </section>
            
            
            
            <!-- // -->
            <section class="section bg-theme tc-light ov-h" id="roadmap">
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto-sm">
                        <h4 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".1">Roadmap</h4>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Our team working hardly to make archive lorem ipsum dolor sit amet, consectetur  amet, consectetur adipiscing elit. </p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block">
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="roadmap-all mgb-m50 animated" data-animate="fadeInUp" data-delay=".3">
                                    
                                    <div class="roadmap-wrap roadmap-wrap-done roadmap-wrap-s1 mb-0">
                                        <div class="row no-gutters">
                                           <% roadmap.forEach(function(user){ %>
                                            <div class="col-lg">
                                                <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                                    <div class="roadmap-step roadmap-step-s1">
                                                        <div class="roadmap-head roadmap-head-s1">
                                                            <span class="roadmap-time roadmap-time-s1"><%= user.time%></span>
                                                            <span class="roadmap-title roadmap-title-s1"><%= user.title%></span>
                                                        </div>
                                                        <ul class="roadmap-step-list roadmap-step-list-s1">
                                                            <li><%= user.concept%></li>
                                                            <li><%= user.team%></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <% }); %>
                                        </div><!-- .row -->
                                    </div>
                                    
                                    <div class="roadmap-wrap roadmap-wrap-done roadmap-wrap-s1 mb-0">
                                        <div class="row no-gutters">
                                           <% roadmap2.forEach(function(user){ %>
                                            <div class="col-lg">
                                                <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                                    <div class="roadmap-step roadmap-step-s1">
                                                        <div class="roadmap-head roadmap-head-s1">
                                                            <span class="roadmap-time roadmap-time-s1"><%= user.time%></span>
                                                            <span class="roadmap-title roadmap-title-s1"><%= user.title%></span>
                                                        </div>
                                                        <ul class="roadmap-step-list roadmap-step-list-s1">
                                                            <li><%= user.concept%></li>
                                                            <li><%= user.team%></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <% }); %>
                                        </div><!-- .row -->
                                    </div>

                                    <div class="roadmap-wrap roadmap-wrap-done roadmap-wrap-s1 mb-0">
                                        <div class="row no-gutters">
                                           <% roadmap3.forEach(function(user){ %>
                                            <div class="col-lg">
                                                <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                                    <div class="roadmap-step roadmap-step-s1">
                                                        <div class="roadmap-head roadmap-head-s1">
                                                            <span class="roadmap-time roadmap-time-s1"><%= user.time%></span>
                                                            <span class="roadmap-title roadmap-title-s1"><%= user.title%></span>
                                                        </div>
                                                        <ul class="roadmap-step-list roadmap-step-list-s1">
                                                            <li><%= user.concept%></li>
                                                            <li><%= user.team%></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->
                                            <% }); %>
                                        </div><!-- .row -->
                                    </div>
                                   
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
                <div class="nk-ovm shape-n"></div>
            </section>
            <!-- // -->
            <section class="section bg-white" id="team">
                <div class="ui-shape ui-shape-s5"></div>
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto-sm">
                        <h4 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".1">Executive team</h4>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">The ICO Crypto Team combines a passion for esports, industry experise &amp; proven record in finance, development, marketing &amp; licensing.</p>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-team-list team-list">
                        <div class="row justify-content-center">
                            <% tearm.forEach(function(user){ %>
                            <div class="col-sm-6 col-lg-3">
                                <div class="team team-s3 animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="team-photo round-full team-photo-bg">
                                        <a href="#team-popup-1" class="team-show content-popup" data-overlay="bg-theme-grad-alt"></a>
                                        <img src="<%= user.avatar%>" alt="team" class="round-full">
                                    </div>
                                    <h5 class="team-name title title-sm"><%= user.name%></h5>
                                    <span class="team-position"><%= user.title%></span>
                                    <ul class="team-social team-social-s2">
                                        <%if(user.youtube){ %><li><a href="<%= user.youtube%>"><em class="fab fa-youtube"></em></a></li><%}%>
                                        <%if(user.facebook){ %><li><a href="<%= user.facebook%>"><em class="fab fa-facebook-f"></em></a></li><%}%>
                                        <%if(user.tiwter){ %><li><a href="<%= user.tiwter%>"><em class="fab fa-twitter"></em></a></li><%}%>
                                        <%if(user.email){ %><li><a href="<%= user.tiwter%>"><em class="fab fa-email"></em></a></li><%}%>
                                        <%if(user.linkedin){ %><li><a href="<%= user.tiwter%>"><em class="fab fa-linkedin-in"></em></a></li><%}%>
                                    </ul>
                                </div>
                                <!-- Start .team-profile  -->
                                <div id="team-popup-1" class="team-popup mfp-hide">
                                    <a title="Close" class="mfp-close">×</a>
                                    <div class="row align-items-start">
                                        <div class="col-md-6">
                                            <div class="team-photo">
                                                <img src="<%= user.avatar%>" alt="team">
                                            </div>
                                        </div><!-- .col  -->
                                        <div class="col-md-6">
                                            <div class="team-popup-info pl-md-3">
                                                <h3 class="team-name title title-lg pt-4"><%= user.name%></h3>
                                                <p class="team-position mb-1"><%= user.title%> </p>
                                                <ul class="team-social team-social-s2 mb-4">
                                                    <li><a href="<%= user.facebook%>"><em class="fab fa-facebook-f"></em></a></li>
                                                    <li><a href="<%= user.tiwter%>"><em class="fab fa-twitter"></em></a></li>
                                                </ul>
                                                <p><%= user.description%></p>
                                                <div class="progress-list">
                                                    <div class="progress-wrap">
                                                        <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                                        <div class="progress-bar progress-bar-xs bg-black-10">
                                                            <div class="progress-percent bg-primary" data-percent="85"></div>
                                                        </div>
                                                    </div>
                                                    <div class="progress-wrap">
                                                        <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                                        <div class="progress-bar progress-bar-xs bg-black-10">
                                                            <div class="progress-percent bg-primary" data-percent="68"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .col  -->
                                    </div><!-- .row  -->
                                </div><!-- .team-profile  -->
                            </div><!-- .col -->
                            <% }); %>
                            
                            
                            
                        </div><!-- .row -->
                       
                    </div>
                </div>
            </section>
            <!-- // -->
            <section class="section bg-theme tc-light" id="partners">
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto-sm">
                        <h4 class="title-lg title-semibold animated" data-animate="fadeInUp" data-delay=".1">Our Partners</h4>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block block-partners">
                        <ul class="partner-list partner-list-s2 flex-wrap">
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".15"><img src="images/partners/a-xs-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".2"><img src="images/partners/b-xs-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".25"><img src="images/partners/c-xs-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".3"><img src="images/partners/d-xs-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".35"><img src="images/partners/e-xs-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".4"><img src="images/partners/f-xs-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".45"><img src="images/partners/a-sm-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".5"><img src="images/partners/b-sm-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".55"><img src="images/partners/c-sm-light.png" alt="partner"></li>
                            <li class="partner-logo-s2 animated" data-animate="fadeInUp" data-delay=".6"><img src="images/partners/d-sm-light.png" alt="partner"></li>
                        </ul>
                    </div>
                    <!-- Block @e -->
                </div>
            </section>
            <!-- // -->