
        
            <section class="section bg-white pb-0 ov-h" id="about">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about text-center">
                        <div class="row justify-content-center gutter-vr-30px">
                            <div class="col-lg-10">
                                <div class="section-head section-head-about">
                                    <h2 class="title fw-6 animated" data-animate="fadeInUp" data-delay=".1">About <%- token.name %></h2>
                                    <p class="fw-4 tc-dark animated" data-animate="fadeInUp" data-delay=".2">CryptoCars is a revolutionary a web based NFT roleplaying game launched on the Binance Smart Chain. CryptoCars’s mission is to provide a fun and profitable experience for our players, to create a healthy and excited community around blockchain gaming and build an ecosystem of Play to Earn systems to meet the needs of all gamers around the world.</p>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-8">
                                <div class="nk-block-video tc-light animated" data-animate="fadeInUp" data-delay=".3">
                                    <img src="<%- main.videoimage %>" alt="">
                                    <a href="<%- token.youtube %>" class="nk-block-video-play video-popup btn-play btn-play-s3">
                                    <svg class="btn-play-icon-s2" viewBox="0 0 24 34"><path fill-rule="evenodd" d="M0.212,32.552 C0.427,32.851 0.769,33.010 1.117,33.010 C1.337,33.010 1.559,32.947 1.752,32.814 L23.521,17.879 C23.816,17.678 23.991,17.350 23.991,16.998 C23.991,16.646 23.816,16.319 23.521,16.115 L1.752,1.181 C1.415,0.950 0.972,0.922 0.606,1.107 C0.240,1.292 0.010,1.661 0.010,2.064 L0.010,22.480 C0.010,23.076 0.506,23.558 1.116,23.558 C1.727,23.558 2.222,23.076 2.222,22.480 L2.222,4.142 L20.963,16.998 L0.479,31.049 C-0.020,31.393 -0.140,32.066 0.212,32.552 Z"/></svg>
                                    </a>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white" id="why">
                <div class="ui-shape ui-shape-s1"></div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row align-items-center gutter-vr-30px">
                            <div class="col-lg-5 text-center text-lg-left">
                                <div class="nk-block-text">
                                    <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".1">GAME PLAY:</h2>
                                    <p class="tc-dark animated" data-animate="fadeInUp" data-delay=".2">
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">
                                    <strong>I.  CARS</strong><br>

                                    Each User is entitled to Buy many different Cars. Each car worth $100 is calculated in CAR Token. Cars are randomly distributed to the User with an average score of 500 (including: Speed, Acceleration, Handling and Nitro). Each User is required to buy at least 1 car to play in the game.  After Cars racing to win with the boss, Cars will receive 10 Exp, enough Exp Cars will level up, when leveling up, Cars will be added 10 points to 4 attributes.
                                    </p>
                                    
                                    
                                    
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <div class="nk-block-img nk-block-img-s2 text-center text-lg-left animated" data-animate="fadeInUp" data-delay=".5">
                                    <img src="images/zinnia/gfx-f.png" alt="">
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <div class="row">
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>II. ACCSSORIES</strong><br>
                            There are 5 different types of car accessories: 4 car attachments and 1 racing time accessory. Each accessory gives 3 different ranks from 1 to 3 Stars. The higher the Star, the higher the score. Accessories added to the car will help the car run faster and get more rewards. One accessory is equipped for up to 50 races, after 50 races the accessory will be burned. Accessories are traded Buy and Sell on the NFT Market. </p>
                        </div>
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>III.    RACE</strong><br>
                            •   Race with Boss: Every 120 minutes you will be able to race with Boss 1 time, 1 day you will have 12 races, each race when you Win will receive 10 EXP and rewards. If the race time runs out, you can buy more TIME accessories on the market.<br>
                            •   Race PvP : You can race with 1 other person, before racing you have to bet a certain amount of CAR Tokens, when you win you will get 95% and when you lose you will lose all the tokens you have set.<br>

                            •   Race the tour: Every week there will be 1-2 tournaments, Top 100 winners will receive a lot of rewards in Tokens and Accessories.</p>
                        </div>
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>VI. REWARD</strong><br>
                            •   Race with Boss: Reward = 1.0$V* TotalPointCar/500 per Race.<br>
                            •   Race PvP: Reward 95%<br>
                            •   Race the Tour: Reward Top 100.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
           
           
            <%- include("components/token-info.ejs") %>
            <%- include("components/token-allocation.ejs") %>
            <%- include("components/roadmap.ejs") %>

            <%- include("components/team.ejs") %>
            <%- include("components/partners.ejs") %>
            