
				<div class="row">
					<div class="col-8">
						<div class="card">
						<div class="card-body">
						<h4>Session Create</h4>
						<hr>
						
						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">Name</label>
						    <div class="col-sm-10">
						      <input type="text" id="name" class="form-control" value="">
						    </div>
						</div>

						

						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">Start</label>
						    <div class="col-sm-2">
						      Year
						      <select type="text" id="starttime_y" class="form-select">
						      	<% for(var i=2021; i<=2028; i++) {%>
						      		<option value="<%=i%>"><%=i%></option>
						      	<%}%>
						      </select>
						    </div>

						    <div class="col-sm-2">
						      Month
						      <select type="text" id="starttime_m" class="form-select">
						      	<% for(var i=1; i<=12; i++) {%>
						      		<option value="<%=i%>"><%=i%></option>
						      	<%}%>
						      </select>
						    </div>

						    <div class="col-sm-2">
						      Day
						      <select type="text" id="starttime_d" class="form-select">
						      	<% for(var i=1; i<=31; i++) {%>
						      		<option value="<%=i%>"><%=i%></option>
						      	<%}%>
						      </select>
						    </div>

						    <div class="col-sm-2">
						    	Hour
						      <select type="text" id="starttime_h" class="form-select">
						      	<% for(var i=0; i<24; i++) {%>
						      		<option value="<%=i%>"><%=i%></option>
						      	<%}%>
						      </select>
						    </div>

						    <div class="col-sm-2">
						    	Min
						      <select type="text" id="starttime_min" class="form-select">
						      	<% for(var i=0; i<60; i++) {%>
						      		<option value="<%=i%>"><%=i%></option>
						      	<%}%>
						      </select>
						    </div>
						</div>


						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">Period</label>
						    <div class="col-sm-8">
						      <input type="number" id="period" name="period" class="form-control" value="">
						    </div>
						    <div class="col-sm-2 d-grid gap-2">
						    	<button class="btn btn-sm btn-outline-info btn-block">Hour</button>
						    </div>
						</div>

						

						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">Min Deposit</label>
						    <div class="col-sm-8">
						      <input type="text" name="deposit" id="deposit" class="form-control" value="100">
						    </div>
						    <div class="col-sm-2 d-grid gap-2">
						    	<button class="btn btn-sm btn-info btn-block"><%= token.name%></button>
						    </div>
						</div>

						

						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">Token Total Reward</label>
						    <div class="col-sm-8">
						      <input type="text" name="reward" id="reward" class="form-control" value="">
						    </div>
						    <div class="col-sm-2 d-grid gap-2">
						    	<button class="btn btn-sm btn-info btn-block"><%= token.name%></button>
						    </div>
						</div>

						

						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label">NFT Reward</label>
						    <div class="col-sm-8">
						      <input type="text" name="nftreward" id="nftreward" class="form-control" value="">
						    </div>
						    <div class="col-sm-2 d-grid gap-2">
						    	<button class="btn btn-sm btn-primary btn-block"><%= token.name%> NFT</button>
						    </div>
						</div>

						<div class="mb-3 row">
						    <label  class="col-sm-2 col-form-label"></label>
						    <div class="col-sm-10">
						      <button id="createFarmSession"  class="btn btn-primary" value="">Create Session</button>
						    </div>
						</div>
						
						</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card">
						<div class="card-body">
							<h4>Game Image</h4>
							<hr>
							
							<div class="mb-3 row">
							    <label  class="col-sm-12 col-form-label">Game Background</label>
							    <div class="col-sm-12">
							      <select type="text" id="background" class="form-select" value="">
							      		<option value=""></option>
							      </select>
							    </div>
							</div>

							<div class="mb-3 row">
							    <label  class="col-sm-4 col-form-label">Font Color</label>
							    <div class="col-sm-4">
							      <input type="text" name="fontcolor" id="fontcolor" class="form-control" value="">
							    </div>
							    <div class="col-sm-4 d-grid gap-4">
							    	<button class="btn btn-sm btn-primary btn-block">#Color</button>
							    </div>
							</div>


							<div class="border" style="height:160px"></div>

							
							<br>
							<button type="submit" class="btn btn-primary" value="">Update Session</button>
							
						</div>
						</div>
					</div>
				</div>
				<br>
				<h4>Session List</h4>

				<div class="card">
						<div class="card-body">
				<table class="table">
					<thead>
						
						<th>Name</th>
						<th>Deposit</th>
						<th>Start</th>
						<th>Period</th>
						<th>Finish</th>
						<th>Reward</th>
						<th>Holder</th>
						<th>Status</th>
						<th></td>
						<th></td>
					</thead>
					
					<% items.forEach(function(data, index){ %>
					<tr>
						
						<td><%= data.pool_name%></td>
						<td><%= data.min_deposit%> <%= token.name%></td>
						<td>
							<span class="TimeStart<%=index%>"></span>
							<script> 
							var timeStart = moment.unix(<%= data.timestart%>).format('MM/DD/YYYY hh:mm:ss a');
							$(".TimeStart<%=index%>").html(timeStart);
							</script>
						</td>
						<td><%- (data.period / 3600).toFixed(2)%> hour</td>
						<td>
							<span class="TimeEnd<%=index%>"></span>
							<script> 
							var calcTime = <%= data.timestart%>;
							var period = <%= data.period%>;
							calcTime = calcTime + period * 3600;
							var timeStart = moment.unix(calcTime).format('MM/DD/YYYY hh:mm:ss a');
							$(".TimeEnd<%=index%>").html(timeStart);
							</script>
						</td>
						<td><%= data.reward_token%> / 1s</td>
						<td><%= data.amount_holder%></td>
						<td><%= (data.status > 0 ? "Enable" : "Disable")%></td>
						<td class="text-end">
							<a class="btn btn-sm btn-primary" href="/farm/<%= data.log_id%>/sync">Sync Blockchain</a>
							<button class="btn btn-sm btn-primary">Claim All</button>
							<button class="btn btn-sm btn-primary">Claim NFT</button>
						</td>
						<td class="text-end">
							<button class="btn btn-sm btn-primary">Edit</button>
							<a class="btn btn-sm btn-primary" href="/farm/<%= data.log_id%>/<%= (data.status > 0 ? "disable" : "enable")%>"><%= (data.status > 0 ? "Enable" : "Disable")%></a>
						</td>
					</tr>
					<% }); %>
				</table>
				</div>
				</div>
			
