<div class="container-game">
	
	<div id="game"></div>
	<div class="text-center">
		<button class="btn btn-primary btn-round btn-auto btn-primary btn-with-icon" data-toggle="modal" data-target="#HowToPlay">How to play</button><br>
		Project Public Mainet
	</div>

	<!-- Modal -->
	<div class="modal fade" id="HowToPlay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">How to play</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        	1. Buy <%= token.name%><br>
	        	2. Deposit and start
	      </div>
	      
	    </div>
	  </div>
	</div>

</div>

<div class="modal fade" tabindex="-1" id="FarmDesopit">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Confirm Deposit</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<h4>Your Balance : <span class="balance"></span></h4>
	        <p>Check Your balance <%= token.name%> before confirm.</p>
	        <input type="number" value="<%= items.min_deposit%>" class="form-control">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary btn-sm" data-session="<%= items.log_id%>" data-web3="farmdeposit" data-min="<%= items.min_deposit%>">Confirm</button>
	      </div>
	    </div>
	  </div>
</div>

<audio id='music'>
    <source src="/music/racer.ogg">
    <source src="/music/racer.mp3">
  </audio>

<style>
.container-game{
  width:80%; 
  margin:auto;
  position: relative;
}
@media (max-width: 920px){
  .container-game{
    width:98%; 
    margin:auto;
    position: relative;
  }
}
</style>
<script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script>
jQuery(document).ready(function(){

var Dom = {

  get:  function(id)                     { return ((id instanceof HTMLElement) || (id === document)) ? id : document.getElementById(id); },
  set:  function(id, html)               { Dom.get(id).innerHTML = html;                        },
  on:   function(ele, type, fn, capture) { Dom.get(ele).addEventListener(type, fn, capture);    },
  un:   function(ele, type, fn, capture) { Dom.get(ele).removeEventListener(type, fn, capture); },
  show: function(ele, type)              { Dom.get(ele).style.display = (type || 'block');      },
  blur: function(ev)                     { ev.target.blur();                                    },

  

  storage: window.localStorage || {}

}


var config = {
    type: Phaser.AUTO,
    width: document.getElementById("game").offsetWidth,
    height: 600,
    parent: document.getElementById("game"),
    physics: {
        default: 'arcade',
        arcade: {
            gravity: { y: 200 }
        }
    },
    scene: {
        preload: preload,
        create: create,
        render: render
    },
    google: {
      families: ['Revalia']
    }

};

const blockchain = SmartApps.tokenFarm;
var game = new Phaser.Game(config);

function preload ()
{
    this.load.setBaseURL('https://cryptocar.cc');

    this.load.image('sky', 'assets/car/9144.jpg');
    this.load.image('controller', 'assets/car/control.png');
    this.load.image('logo', 'assets/car/logo_game.png');
    this.load.image('red', 'assets/car/start.png');

    this.load.image('deposit', 'assets/images/DEPOSIT.png');
    this.load.image('claim', 'assets/images/CLAIM.png');
    this.load.image('withdraw', 'assets/images/WITHDRAW.png');
    
    this.load.script('webfont', '//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js');
}

function playMusic(){
    var music = Dom.get('music');
    music.loop = true;
    music.volume = 0.05; // shhhh! annoying music!
    music.muted = (Dom.storage.muted === "true");
    music.play();
    /*
    Dom.toggleClassName('mute', 'on', music.muted);
    Dom.on('mute', 'click', function() {
      Dom.storage.muted = music.muted = !music.muted;
      Dom.toggleClassName('mute', 'on', music.muted);
    });
    */
  }

function create ()
{
	let image = this.add.image(this.cameras.main.width / 2, this.cameras.main.height / 2, 'sky');
	let scaleX = this.cameras.main.width / image.width
	let scaleY = this.cameras.main.height / image.height
	let scale = Math.max(scaleX, scaleY)
	image.setScale(scale).setScrollFactor(0)

	//this.add.image(400, 210, 'controller');


	
	var textOptionsPool = { fill: '#dc3545',fontFamily : 'Revalia', fontSize : 32, fontWeight : 'bold', shadow : (5, 5, 'rgba(0,0,0,0.5)', 5) , anchor : 0.5, stroke : '#FFF', strokeThickness : 3};

	var textOptions = { fill: '#dc3545',fontFamily : 'Revalia', fontSize : 24, fontWeight : 'bold', shadow : (5, 5, 'rgba(0,0,0,0.5)', 5) , anchor : 0.5, stroke : '#FFF', strokeThickness : 3};

	this.add.text(100, 30, '<%= items.pool_name%>', textOptionsPool);
	this.add.text(100, 80, 'Total Value Lock', { fill: '#0f0' });
	this.add.text(100, 100, '<%= block.amount%> <%= token.name%>', textOptions);
	
	this.initialTime = <%= block.timeEnd%>;
	this.add.text(100, 130, 'Remaining Time', { fill: '#0f0' });
	CountDownTime = this.add.text(100, 150, '2021/01/09 0:0:0', textOptions);
	timedEvent = this.time.addEvent({ delay: 1000, callback: onEvent, callbackScope: this, loop: true });

	this.add.text(100, 190, 'Pool Rate', { fill: '#0f0' });
	this.add.text(100, 210, '<%= block.rate%> <%= token.name%> / Year', textOptions);
	this.add.text(100, 250, 'APR', { fill: '#0f0' });
	this.add.text(100, 270, '<%= block.apr%> %', textOptions);
 	

 	this.add.text(500, 80, 'Your Liquidity Deposit', { fill: '#0f0' });
	this.add.text(500, 100, '<%= block.deposit%> <%= token.name%>', textOptions);
	this.add.text(500, 130, 'Your Power', { fill: '#0f0' });

	this.add.text(500, 190, 'Your Claim', { fill: '#0f0' });
	this.add.text(500, 210, '<%= block.claimable%> <%= token.name%>', textOptions);

	
	var buttonOptions = { fill: '#dc3545',align : 'center',backgroundColor:'red',fontSize : 24, fontWeight : 'bold', shadow : (5, 5, 'rgba(0,0,0,0.5)', 5) , anchor : 0.5, stroke : '#FFF', strokeThickness : 2};

	const deposit = this.add.image(160, 400, 'deposit')
		.setInteractive()
		.on('pointerdown', () => {
			console.log("Click Deposit");
			blockchain.createpool(<%= block.amount%>,<%= block.min_amount%>,<%= block.session_id%>);
		});
	
	const ClaimButton = this.add.image(160+125+15, 400, 'claim').setInteractive()
		.on('pointerdown', () => {
			console.log("Click Claim");
			blockchain.claim(<%= block.session_id%>);
		});
	const WithdrawButton = this.add.image(160+(125+15)*2, 400, 'withdraw').setInteractive()
		.on('pointerdown', () => {
			console.log("Click Withdraw");
			blockchain.withdraw();
		});
	
    var particles = this.add.particles('red');

    var emitter = particles.createEmitter({
        speed: 100,
        scale: { start: 1, end: 0 },
        blendMode: 'ADD'
    });
    
    var logo = this.physics.add.image(400, 100, 'logo');

    logo.setVelocity(100, 50);
    logo.setBounce(1, 1);
    logo.setCollideWorldBounds(true);

    emitter.startFollow(logo);
    playMusic();
    
}


function render(){
	
}


function onEvent ()
{
    this.initialTime -= 1; // One second
    CountDownTime.setText(moment.unix(this.initialTime).format('YYYY/MM/DD HH:mm:ss'));
}

});

</script>