 <div class="row">
    <div class="col-6">
        <img src="/assets/car/noimage.png" id="fImage">
    </div>
    <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Token ID : #<span class="stokenid"></span></li>
          <li class="list-group-item">Name : <span class="sname"></span></li>
          <li class="list-group-item">Lever : <span class="sLever"></span></li>
          <li class="list-group-item">Models <span class="sModels"></span></li>
          <li class="list-group-item">Power <span class="sPower"></span></li>
          <li class="list-group-item">Speed <span class="sSpeed"></span></li>
          <li class="list-group-item">Acceleraction <span class="sAcceleraction"></span></li>
          <li class="list-group-item">Handing <span class="sHanding"></span></li>
          <li class="list-group-item">Nitro <span class="sNitro"></span></li>
          <li class="list-group-item">Exp <span class="sExp"></span></li>
        </ul>
    </div>

    <div class="col-12">
        <textarea class="form-control description" placeholder="Description"></textarea>
        <br>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Price" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary btn-sm marketsell" data-market-sell data-tokenid="" type="button" id="button-addon2">SELL</button>
            
          </div>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary btn-sm tranferid" data-tokenid="" data-toggle="modal" data-target="#transferWallet" type="button">Transfer</button>
    </div>
 </div>
<div class="row">
  <div class="col-4">
    <h5>Your Car</h5>
    <div style="height:300px;">
      <div class="row" id="carslibs">
      <% items.forEach(function(data, index){ %>
        
          <div class="col-4 mb-4">
            <div class="border p-3">
              <img src="<%=data.image%>" class="itemFocus" data-tokenid="<%=data.id%>" style="width:100%" data-json="<%= JSON.stringify(data.options)%>">
            </div>
          </div>
          
       
      <%});%>
       </div>
    </div>
  </div>
  <div class="col-4">
    <h5>Update CAR Lever</h5>
    <div class="row">
        <div class="col-4">
          CAR
          <div class="border" id="carslibs2" style="min-height:80px;"></div>
        </div>
        <div class="col-4">
          Item EXP
          <div class="border" style="min-height:80px;" id="exptoken3">

          </div>
        </div>
        <div class="col-4"><br><button class="btn btn-info" data-carslever="true">Up</button></div>
    </div>

    <h5>Update EXP Lever</h5>
    <div class="row">
        <div class="col-4">
          Item EXP 1
          <div class="border" style="min-height:80px;" id="exptoken1"></div>
        </div>
        <div class="col-4">
          Item EXP 2
          <div class="border" style="min-height:80px;" id="exptoken2">

          </div>
        </div>
        <div class="col-4"><br><button class="btn btn-primary" data-upexp="true">Up</button></div>
    </div>
  </div>
  <div class="col-4">
    <h5>Your Item EXP</h5>
    <div style="height:300px;">
    <div class="row" id="explibs">
        <% expitem.forEach(function(data, index){ %>
        
          <div class="col-4 mb-4">
            <div class="border p-3">
              <img src="<%=data.image%>" class="ExpFocus" data-tokenid="<%=data.tokenId%>" style="width:100%">
              <span><%=data.exp%> exp</span>
            </div>
          </div>
          
       
      <%});%>
    </div>
    
  </div>
</div>
 
<script>
$(".itemFocus").on("click", function(){
    var getDataJSON = $(this).data("json");
    
    $(".stokenid").html(getDataJSON.tokenId);
    $(".tranferid, .marketsell").attr("data-tokenid",getDataJSON.tokenId);

    $(".sname").html(getDataJSON.CarName);
    $(".sLever").html(getDataJSON.Lever);
    $(".sModels").html(getDataJSON.Models);
    $(".sPower").html(getDataJSON.Power);
    $(".sSpeed").html(getDataJSON.Speed);
    $(".sAcceleraction").html(getDataJSON.Acceleraction);
    $(".sHanding").html(getDataJSON.Handing);
    $(".sNitro").html(getDataJSON.Nitro);
    $(".sExp").html(getDataJSON.Exp);
    $("#fImage").attr("src",getDataJSON.Image);

});
$('#transferWallet').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var recipient = button.data('tokenid')
  var modal = $(this)
  modal.find('.modal-footer button.confirm').attr("data-tokenid",recipient)
})

$(document).ready(function() {
    $('#carslibs .itemFocus').draggable({
        connectToSortable: "#carslibs2",
        helper: 'clone',
        revert: "invalid"
    });
      
    $('#carslibs2').droppable({
          drop: function(event, ui) {
              $(this).attr("data-tokenid",$(ui.helper).attr("data-tokenid"));
              $(this).html('<img src="'+$(ui.helper).attr("src")+'">');
          },
          accept: "#carslibs .itemFocus",
          activeClass: "dropActive",
          hoverClass: "dropHover"
    });

    $('#explibs .ExpFocus').draggable({
        connectToSortable: "#exptoken1, #exptoken2, #exptoken3",
        helper: 'clone',
        revert: "invalid"
    });

    $('#exptoken3').droppable({
          drop: function(event, ui) {
              $(this).attr("data-tokenid",$(ui.helper).attr("data-tokenid"));
              $(this).html('<img src="'+$(ui.helper).attr("src")+'">');
          },
          accept: "#explibs .ExpFocus",
          activeClass: "dropActive",
          hoverClass: "dropHover"
    });

    $('#exptoken1, #exptoken2').droppable({
          drop: function(event, ui) {
              $(this).attr("data-tokenid",$(ui.helper).attr("data-tokenid"));
              $(this).html('<img src="'+$(ui.helper).attr("src")+'">');
          },
          accept: "#explibs .ExpFocus",
          activeClass: "dropActive",
          hoverClass: "dropHover"
    });

  });
</script>


<div class="modal fade" id="transferWallet" tabindex="-1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">NFT Transfer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Enter Wallet Transfer</p>
        <input type="text" id="TransferNftWallet" class="form-control" placeholder="Wallet Transfer" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary confirm" data-tokenid="0" data-nft-transfer="true">Confirm</button>
      </div>
    </div>
  </div>
</div>
