 <section class="bg-white">
 	<div class="container-market">
       <div class="row">
              
              <div class="col-md-2">
                     <%- include("components/categories.ejs") %>
              </div>

              <div class="col-md-10">
                     <h4 class="d-flex justify-content-between">NFT Markets<div> <a href="#" class="btn btn-info">Back Market</a> <a href="#" data-market-buy="true" data-tokenid="<%=item.tokenId%>" class="btn btn-primary">Buy Now</a></div></h4>
                     <hr>
                     <div class="row">
                            <div class="col-md-6">
                                   <img src="<%=item.image%>">
                                   
                                   <ul class="list-group list-group-flush">
                                          <% item.attributes.forEach(function(dataAttributes, index2){ %>
                                                 <li class="list-group-item"><%=dataAttributes.trait_type%> : <%=dataAttributes.value%></li>
                                          <%});%>
                                    
                                   </ul>
                            </div>
                            <div class="col-md-6">
                                   
                                   <h4 class="d-flex justify-content-between"><%=item.name%>
                                       <ul class="social justify-content-center">
                                          <%if(social.facebook){ %><li><a href="<%= social.youtube%>" target="_bank"><em class="social-icon fab fa-facebook-f"></em></a></li><%}%>
                                          <%if(social.twitter){ %><li><a href="<%= social.twitter%>" target="_bank"><em class="social-icon fab fa-twitter"></em></a></li><%}%>
                                          <%if(social.youtube){ %><li><a href="<%= social.youtube%>" target="_bank"><em class="social-icon fab fa-youtube"></em></a></li><%}%>
                                          <%if(social.github){ %><li><a href="<%= social.github%>" target="_bank"><em class="social-icon fab fa-github"></em></a></li><%}%>
                                          <%if(social.bitcoin){ %><li><a href="<%= social.bitcoin%>" target="_bank"><em class="social-icon fab fa-bitcoin"></em></a></li><%}%>
                                          <%if(social.medium){ %><li><a href="<%= social.medium%>" target="_bank"><em class="social-icon fab fa-medium-m"></em></a></li><%}%>
                                          <%if(social.telegram){ %><li><a href="<%= social.telegram%>" target="_bank"><em class="social-icon fab fa-telegram"></em></a></li><%}%>

                                      </ul>
                                   </h4>

                                   <hr>
                                   <div>Seller : <%=item.seller%></div>
                                   <div>Contract : <%=item.nft%></div>
                                   <div>Token ID : #<%=item.tokenId%></div>

                                   <p><%=item.description%></p>
                                   <div class="border p-3">
                                   <h5 class="d-flex justify-content-between">Price : <%=item.price%> <%=token.name%> <button class="btn btn-primary" data-tokenid="<%=item.tokenId%>" data-market-buy="true" >BUY</button></h5>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
 		
 	</div>
 </section>